<div class="product">
    <div class="product__img">
        <img src="@@img1" alt="@@model">
    </div>
    
    <span class="name">@@model</span>
    <div class="product__info">
        <div class="product__row">
            <span>Год:</span>
            <p>@@year</p>
        </div>
        <div class="product__row">
            <span>Двигатель:</span>
            <p>@@volume</p>
        </div>
        <div class="product__row">
            <span>Пробег:</span>
            <p>@@mileage</p>
        </div>
    </div>


    <!-- <img src="@@img2" alt="@@model">
    <img src="@@img3" alt="@@model"> -->
    <!-- <p>@@volume</p> -->
    <!-- <p>@@mileage</p>
    <p>@@body</p>
    <p>@@year</p> -->
</div>
